@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    max-width: 1200px;

}

nav {
    height: auto;
    max-height: 130px;
    background-color: #25274D
}

/* 

NAV

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 12px 32px;
    max-width: 1200px;
    margin: 0 auto;

}

.nav__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav__logo--title {
    font-size: 36px;
    font-weight: 900;
}

.gradient {
    background: -webkit-linear-gradient(#01B4E4, #1ED5A9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    font-size: 20px;
    font-weight: 900;
    padding-left: 16px;
}


/* 

HEADER

*/

.header__container {
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.header__title {
    color: #FFEBCD;
    font-size: 44px;
    font-weight: 900;
    padding: 16px 16px 0 16px;
}

.header__subtitle {
    color: #FFEBCD;
    font-size: 24px;
    padding: 16px;
    font-weight: 900;
}

.header__search {
    width: 75%;
    padding: 12px;
    border-radius: 50px;
    border: double 3px transparent;
    background-image: linear-gradient(white, white),
         linear-gradient(to right, #01B4E4, #1ED5A9);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


.header__search:focus {
    outline: none;
}


.header__search--wrapper {
    position: relative;

}

.header__search--button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.fa-magnifying-glass {
    color: #25274D;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    right: 16%;
    top: 33%;
    transition: all 300ms ease-in-out;
}


.fa-magnifying-glass:hover {
    transform: scale(1.2);
    color: #01B4E4;

}


/* 

TRENDING

*/




.trending__container--movies {
    background-color: #f1f0ef;
    margin: 0;
}

.trending__container--shows {
    background-color: #25274D;
    margin: 0;

}

.main__box {
    position: relative;
    max-width: 350px;

}

.main__box:hover .main__img {
    filter: blur(7px);
    opacity: (0.7);
}

.main__img {
    width: 100%;
    transition: transform 450ms, opacity 300ms;
}

.main__img--wrapper {
    transition: all 300ms ease;
}

.container__title {
    font-size: 32px;
    text-align: center;
    padding: 20px;
    font-weight: 900;
}

.container__title--movies {
    color: #25274D;
}

.white__color {
    color: #f1f1f1;
}

.main__title {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 0px;
}

.main__description {
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 8px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 400ms, opacity 1000ms;
}



.main__box:hover .main__description {
    transform: translateY(0%);
    opacity: 1;
}

/* 

SLIDER

*/

.splide {
    width: 100%;
    padding: 0 100px;
}

.splide__track {
    width: 100%;
}

.splide__list {
    width: 100%;
}

.splide__slide {
    display: flex;
    justify-content: center;
}


.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    height: 10%;
    width: 10%;
    max-width: 80px;
    max-height: 80px;
    opacity: 0.7;
    transition: all 300ms ease;
}



.splide__arrow svg {
    fill: #01B4E4;
    font-size: 60px;
    z-index: 100;
    opacity: 1;
    transition: all 500ms ease;
}

.splide__arrow svg:hover{
    font-size: 70px;
}

/* 

MOVIES AND TV SHOW PAGE

*/

/* #filter{
    display: none;
} */

.filter__content--wrapper {
    width: 100%;
    display: flex;
}

.conteriner__filter {
    position: relative;
    display: flex;
    justify-content: center;
}

.filter__parameters {
    position: absolute;
    left: 0;
    width: 240px;
    border: solid 1px c1c1c7;
    border-radius: 10px;
    margin-top: 12px;
    box-shadow: 0 0 30px #c1c1c7;
}

.filter__wrapper {
    padding: 8px;
    border-bottom: 0.5px solid #c1c1c7;
}

.filter__wrapper--last {
    padding: 8px;
}

.filter__title {
    color: #25274D;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.filter__subtitle {
    font-size: 14px;
    padding: 6px 0;
    color: #565657;
}

.filter__results--wrappper {
    margin: 12px;
    border: solid 1px;
    width: 100%;
}

.filter__genres {
    display: flex;
    flex-wrap: wrap;
}

.filter__sort-by {
    width: 100%;
    border-radius: 20px;
    padding: 4px;
}

.no__click {
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 9999px;
    margin: 4px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
}

.active {
    background-color: #262db4;
    box-shadow: 0 0 30px #c1c1c7;
    color: white;
}

.filter__data {
    width: 100%;
    border-radius: 20px;
    padding: 4px;
    border: 1px solid;
}

/* 

RESULTS OF SEARCH

*/

.results__wrapper {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 240px);
    margin-top: 12px;
    padding: 0 32px;
}

.result {
    margin: 12px 20px;
    position: relative;
    width: calc((100% - 4 * 40px) / 4);
    max-height: 450px;
    border: 0.5px solid #c1c1c7;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px #c1c1c7;
}

.result__img {
    width: 100%;
    transition: all 300ms ease;


}

.result__title {
    font-size: 16px;
    font-weight: 500;
    padding: 3px 6px 0px 6px;
}

.result__year {
    font-size: 16px;
    padding: 6px;
}

.know-more {
    display: flex;
    justify-content: center;
    text-align: center;

}

.fa-ellipsis-vertical {
    position: absolute;
    color: white;
    width: 48px;
    font-size: 20px;
    padding: 12px;
    border: 2px solid;
    border-radius: 100%;
    background-color: #c1c1c7;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: all 300ms ease;
}

.result:hover .result__img {
    filter: blur(3px);
}

.result:hover .fa-ellipsis-vertical {
    opacity: 1;

}


/* 

MODAL 

*/

.container__modal {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal__wrapper {
    background-color: #565657;
    width: 70vw;
    max-width: 1000px;
    z-index: 1000;
    display: flex;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 0 30px #c1c1c7;
}

.modal__img--wrapper {
    width: 30%;
    border-radius: 16px;
    overflow: hidden;
}

.modal__img {
    width: 100%;
    height: 100%;
}

.modal__content--wrapper {
    width: 70%;
}